
.logoimg{
    width:200px;
}
.navbar-nav{
    text-align:right;
    margin:auto;
}
.navbar-light .navbar-nav .nav-link {
    /*color: rgba(0,0,0,.55);*/
    color:rgb(0, 0, 65);
}
.blueborder{
    border:1px solid #2F70FE;
}
.loginpng{
    height:0.9em;
    margin-right:3px;
}
a.nav-link{
    padding:0.5em;
    margin-left:1.5em;
}
.contain-adr{
    background-color: transparent;
}
.bg-light {
    background-color: transparent !important;
}
.zoneblue{
    background:#2f70fe;
}
.zoneblue2{
    position: relative;
    padding: 1em 5em 1em 1em;
    overflow: hidden;
    color: #2f70fe;
    height:100px;
  }
.zoneblue2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#2f70fe;
    /*-webkit-transform-Origin: 100% 0;
    -ms-transform-Origin: 100% 0;*/
    transform-Origin: 100% 0;
    -webkit-transform: skew(-87deg);
    -ms-transform: skew(-87deg);
    transform: skew(-87deg);
    z-index: -1;
  }
.h1-blue{
    color:white;
    text-align:center;
    font-weight: 600;
    font-size: 3.2em;
    padding-bottom: 0.3em;
  }
  .zoneblue{
      padding-top:3em;
  }
  .p-bluezone{
      text-align:center;
      color:white;
      font-size: 1.1em;
      margin-bottom: 2em;;
  }
  p.button-zonebleu{
    text-align:center;
  }
  a.button-zonebleu{
      background-color: black;
      color:white;
      padding: 0.9em 1.1em;
      text-decoration: none;
      font-weight: 500;
  }